.navbar {
  position: sticky;
  top: 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--text-color);
  background-color: var(--app-bgcolor);
}

.nav-title {
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
}

.logout-button {
  margin-left: auto;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 3px;
  color: var(--text-color);
}
