.home-main {
  margin: 5rem auto 1rem auto;
  width: 90vw;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.no-results {
  font-size: 2rem;
  color: var(--text-color);
  text-transform: capitalize;
}
