.searchbar-wrapper {
  align-self: center;
  padding: 0.8rem;
  width: 250px;
  display: flex;
  align-items: center;
  color: var(--text-color);
  border: 1.6px solid var(--text-color);
  border-radius: 2rem;
  cursor: text;
}

.input-area {
  width: 100%;
  font-family: inherit;
  font-size: 0.9rem;
  color: inherit;
  background-color: transparent;
  border: none;
}

.input-area:focus {
  outline: none;
}

.input-area::placeholder {
  color: white;
}
