@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --app-bgcolor: hsl(0, 0%, 12%);
  --text-color: #dbdbdb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: var(--app-bgcolor);
}

body::-webkit-scrollbar {
  display: none;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media (0 < width <= 450px) {
  .navbar {
    gap: 1.5rem;
  }

  .nav-title {
    font-size: 1.3rem;
  }

  .logout-button {
    font-size: 0.6rem;
  }

  .blog {
    width: 95vw;
  }

  .blogTitle {
    font-size: 2.5rem;
  }

  .writeBlog-form {
    width: 95vw;
  }

  .writeBlog-title {
    width: 80%;
  }

  .contact-card {
    width: 90vw;
    aspect-ratio: 1/1.8;
    flex-direction: column;
  }

  .firstHalf,
  .secondHalf {
    width: 100%;
    height: 50%;
  }

  .message {
    min-height: 1in;
  }
  
  .login-card{
    width: 90vw;
  }
}

@media (450px < width <= 750px) {
  .blog {
    width: 80vw;
  }

  .blogTitle {
    font-size: 2.5rem;
  }

  .writeBlog-form {
    width: 95vw;
  }

  .writeBlog-title {
    width: 65%;
  }

  .contact-card {
    width: 90vw;
  }

  .login-card{
    width: 70vw;
  }
}

@media (750px < width <= 850px) {
  .blogTitle {
    font-size: 3rem;
  }

  .writeBlog-form {
    width: 90vw;
  }

  .login-card{
    width: 50vw;
  }
  
}
